<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark text-center">
    <a class="navbar-brand text-center" href="#">
        <h4 class="text-center" id="titulo">REPUESTOS UNISABANETA</h4>
    </a>
</nav>